<section class="hero-section">
    <div class="row">
        <div class="col1">
            <h1 class="header">Tavola Italiano</h1>
            <h2 class="sub-header">A Taste of Italy</h2>
            <h2 class="sub-header">Right at Your Tavola</h2>
            <a href="#" class="btn-text">Make a reversation &rarr;</a>
        </div>
        <div class="col2">
            <h1>chao</h1>
        </div>
    </div>
</section>
<section class="about-us">
    <div class="about-us-row">
        <div class="about-us-col1">
            <div class="about-us-box">
                <img class="icon" src="../../../assets/icon/award-symbol.png" alt="award-symbol">
                <div class="heading">Awards</div>
                <div class="description">At Tavolai Italiano, we've been honored with numerous awards, including
                    prestigious Michelin stars,
                    a Wine Spectator Award of Excellence for our extensive wine selection,
                    and TripAdvisor's Certificate of Excellence. We've also been recognized as the 'Best Fine Dining
                    Restaurant' by Gourmet Traveller
                    and received a Culinary Innovation Award for our creative approach to Italian cuisine. These
                    accolades showcase our commitment to culinary excellence, outstanding service,
                    and the satisfaction of our valued customers</div>
            </div>
        </div>
        <div class="about-us-col1">
            <div class="about-us-box">
                <img class="icon" src="../../../assets/icon/branch.png" alt="award-symbol">
                <div class="heading">Branches</div>
                <div class="description">Our restaurant chain has a strong presence in Australia, with multiple branches
                    across key cities and regions. Each branch is strategically located to provide easy access to our
                    customers. Whether you're in Sydney, Melbourne, Brisbane, or other major Australian cities, you can
                    enjoy the same high-quality dining experience and exceptional service that has made us a favorite
                    among locals and tourists alike. Our diverse menu and welcoming atmosphere are consistent across all
                    our branches, ensuring that you can savor our signature dishes and impeccable hospitality wherever
                    you choose to dine</div>
            </div>
        </div>
        <div class="about-us-col1">
            <div class="about-us-box">
                <img class="icon" src="../../../assets/icon/history.png" alt="award-symbol">
                <div class="heading">History</div>
                <div class="description">In the vibrant year of 2000, Antonio Rossi embarked on a passionate culinary
                    journey through the heart of Italy, and upon returning to Sydney, he brought the magic of Italian
                    cuisine to life with 'Tavola Italiano.' Antonio's love for the rich traditions and flavors of Italy
                    led to the establishment of our beloved trattoria in the heart of Sydney. For over two decades,
                    'Tavola Italiano' has been a haven for those seeking an authentic taste of Italy, blending
                    traditional Italian techniques with the freshest local ingredients. Antonio Rossi's vision and
                    dedication continue to make 'Tavola Italiano' a cherished destination for Italian cuisine
                    enthusiasts in Sydney, inviting all to savor the essence of Italy with every dish</div>
            </div>
        </div>
    </div>
</section>
<section class="introduction-dish">
    <div id="carouselExampleIndicators" class="relative" data-te-carousel-init data-te-ride="carousel">
        <!--Carousel indicators-->
        <div class="absolute bottom-0 left-0 right-0 z-[2] mx-[15%] mb-4 flex list-none justify-center p-0"
            data-te-carousel-indicators>
            <button type="button" data-te-target="#carouselExampleIndicators" data-te-slide-to="0"
                data-te-carousel-active
                class="mx-[3px] box-content h-[3px] w-[30px] flex-initial cursor-pointer border-0 border-y-[10px] border-solid border-transparent bg-white bg-clip-padding p-0 -indent-[999px] opacity-50 transition-opacity duration-[600ms] ease-[cubic-bezier(0.25,0.1,0.25,1.0)] motion-reduce:transition-none"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-te-target="#carouselExampleIndicators" data-te-slide-to="1"
                class="mx-[3px] box-content h-[3px] w-[30px] flex-initial cursor-pointer border-0 border-y-[10px] border-solid border-transparent bg-white bg-clip-padding p-0 -indent-[999px] opacity-50 transition-opacity duration-[600ms] ease-[cubic-bezier(0.25,0.1,0.25,1.0)] motion-reduce:transition-none"
                aria-label="Slide 2"></button>
            <button type="button" data-te-target="#carouselExampleIndicators" data-te-slide-to="2"
                class="mx-[3px] box-content h-[3px] w-[30px] flex-initial cursor-pointer border-0 border-y-[10px] border-solid border-transparent bg-white bg-clip-padding p-0 -indent-[999px] opacity-50 transition-opacity duration-[600ms] ease-[cubic-bezier(0.25,0.1,0.25,1.0)] motion-reduce:transition-none"
                aria-label="Slide 3"></button>
        </div>

        <!--Carousel items-->
        <div class="relative w-full overflow-hidden after:clear-both after:block after:content-['']">
            <!--First item-->
            <div class="relative float-left -mr-[100%] w-full transition-transform duration-[600ms] ease-in-out motion-reduce:transition-none"
                data-te-carousel-item data-te-carousel-active>
                <img src="https://mdbcdn.b-cdn.net/img/new/slides/041.webp" class="block w-full" alt="Wild Landscape" />
            </div>
            <!--Second item-->
            <div class="relative float-left -mr-[100%] hidden w-full transition-transform duration-[600ms] ease-in-out motion-reduce:transition-none"
                data-te-carousel-item>
                <img src="https://mdbcdn.b-cdn.net/img/new/slides/042.webp" class="block w-full" alt="Camera" />
            </div>
            <!--Third item-->
            <div class="relative float-left -mr-[100%] hidden w-full transition-transform duration-[600ms] ease-in-out motion-reduce:transition-none"
                data-te-carousel-item>
                <img src="https://mdbcdn.b-cdn.net/img/new/slides/043.webp" class="block w-full" alt="Exotic Fruits" />
            </div>
        </div>

        <!--Carousel controls - prev item-->
        <button
            class="absolute bottom-0 left-0 top-0 z-[1] flex w-[15%] items-center justify-center border-0 bg-none p-0 text-center text-white opacity-50 transition-opacity duration-150 ease-[cubic-bezier(0.25,0.1,0.25,1.0)] hover:text-white hover:no-underline hover:opacity-90 hover:outline-none focus:text-white focus:no-underline focus:opacity-90 focus:outline-none motion-reduce:transition-none"
            type="button" data-te-target="#carouselExampleIndicators" data-te-slide="prev">
            <span class="inline-block h-8 w-8">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="h-6 w-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5L8.25 12l7.5-7.5" />
                </svg>
            </span>
            <span
                class="!absolute !-m-px !h-px !w-px !overflow-hidden !whitespace-nowrap !border-0 !p-0 ![clip:rect(0,0,0,0)]">Previous</span>
        </button>
        <!--Carousel controls - next item-->
        <button
            class="absolute bottom-0 right-0 top-0 z-[1] flex w-[15%] items-center justify-center border-0 bg-none p-0 text-center text-white opacity-50 transition-opacity duration-150 ease-[cubic-bezier(0.25,0.1,0.25,1.0)] hover:text-white hover:no-underline hover:opacity-90 hover:outline-none focus:text-white focus:no-underline focus:opacity-90 focus:outline-none motion-reduce:transition-none"
            type="button" data-te-target="#carouselExampleIndicators" data-te-slide="next">
            <span class="inline-block h-8 w-8">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="h-6 w-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5" />
                </svg>
            </span>
            <span
                class="!absolute !-m-px !h-px !w-px !overflow-hidden !whitespace-nowrap !border-0 !p-0 ![clip:rect(0,0,0,0)]">Next</span>
        </button>
    </div>
</section>